<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companies list</title>
  </head>
  <body>
    <br>
    <div class='companies_container'>
      <% @companies.each do |company| %>
      <div class='companies'>
        <%= link_to company.name, company_path(company.id), class: 'company_name' %>
      </div>
      <% end %>
    </div>
  </body>
</html>
