<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companies list</title>
  </head>
  <body>
    <a href='/companies/new' class='button'>Add a new company</a><br />

      <% @companies.each do |company| %>
        <div class='companies'>
          <%= link_to company.name, company_path(company.id), class: 'company' %>
        </div>
      <% end %>
  </body>
</html>
