html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
#map {
  height: 30%;
  width: 30%
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.button {
    margin: 5px 5px 25px 5px;
    padding: 10px;
    border-radius: 13px;
    border: none;
    color: #d3d145;
    font-family: 'Optima', cursive;
    font-weight: 150;
    text-decoration: none;
    background-color: #5a78d3;
    width: 100px;
    align-items: flex-end;

}

.companies {
  margin: 2%;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 140px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid green;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 1;
  padding-bottom: 10.8em;
  margin-bottom: -10.8em;
}

//===== new company form ========

.form_add_company {
  width: 325px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  border-radius: 15px 15px 0 0;
  background-color: #3a4d58;
  color: white;
}

.field {
  text-align: center;
  margin: 2.5%;
}

.button_add_company {
  margin: 5px 5px 25px 5px;
  padding: 10px;
  border-radius: 13px;
  border: none;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-weight: 200;
  text-decoration: none;
  background-color: #3a4d58;
  width: 100px;
}
